* {
    font-family: 'Courier New', Courier, monospace;
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

#welcomeCard {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

#welcomeCard #start-button:hover{
    cursor: pointer;
}

#questionCard, #resultsCard, #highScoreCard {
    display: none;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

#options, #leaderBoard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#prevResult {
    display: none;
    border-top: solid grey;
    text-align: left;
}

#options > li {
    margin: 10px;
    background-color: #B548F0;
    padding: 10px;
    color: white;
    box-shadow: 3px 3px grey;
}

#options > li:hover {
    cursor: pointer;
    background-color: #7F439F;
}

#options > li:active {
    transform: translateY(4px);
}