* {
    font-family: 'Courier New', Courier, monospace;
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

#welcomeCard {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

#welcomeCard #start-button:hover{
    cursor: pointer;
}

#questionCard, #resultsCard, #highScoreCard {
    display: none;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

#options, #leaderBoard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#prevResult {
    display: none;
    color: grey;
    border-top: solid grey;
    text-align: left;
}